$primary-color-dark: #004e92;
$primary-color: #005cb2;
$primary-color-light: #2980b9;
$primary-text-color: #fff8dc;
$intense-color: #b6e3ff;
$primary-accent-color: #03e9f4;

$secondary-color-dark: #0F2027;
$shadow-color: rgba(16, 16, 16, 0.72);
$secondary-color: #000;
$secondary-text-color: #fff;
$secondary-accent-color: #ff5722;

$border-color: #512DA8;
$dark-blue-gray: #455A64;