.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.gallery__list li {
  display: flex;
  text-align: center;
  align-items: center;
  width: 330px;
  height: 250px;
  font-size: 18px;
  margin: 30px;
  color: $secondary-color;

  figure {
    display: flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in;

    figcaption {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      font-size: 17px;
      letter-spacing: 3px;
      font-weight: bolder;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      transition: all 300ms ease-in-out;
      background: rgba($secondary-color, .4);
      color: $secondary-text-color;
      //text-align: center;
    }

    img {
      flex-grow: 1;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: all 300ms ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.3);
        z-index: 1;
      }

      figcaption {
        display: flex;
      }
    }
  }
}