main {

  .main__title {
    margin: 160px 60px 60px;
    padding: 10px;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(#525252, #3d72b4 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}